<form action="/login" method="post">
  <input type="submit" value="ログイン" />
  <label for="userId">ユーザID</label>
  <input type="text" name="userId" />
  <label for="password">パスワード</label>
  <input type="password" name="password" />
</form>